.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-wrapper {
  position: relative;
}

.button {
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 24px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  transition: transform .3s ease;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-50%) scale(1.3);
}

.button:disabled {
  cursor: auto;
}