.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 48px;
  padding: 0 30px;
  font-size: 24px;
  color: aliceblue;
  border: none;
  border-radius: 6px;
  background-color: #03ab81;
  transition: background-color .3s ease, color .3s ease, box-shadow .3s ease;
}

.button:hover,
.button:focus {
  color: #03ab81;
  background-color: aliceblue;
  box-shadow: 2px 2px 5px 0px rgba(36, 49, 40, 0.75);
}

.input {
  height: 48px;
  padding: 0 10px;
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}